/*--- Modal 整体样式 ---*/
.modal {
    display: none; /* 默认状态：隐藏 */
    position: fixed; /* 固定定位不随页面滚动而变动 */
    z-index: 1; /* 置于页面顶层 */
    padding-top: 100px; /* 距离页面顶端距离 */
    left: 0;
    top: 0;
    width: 100%; /* 铺满全屏宽度 */
    height: 100%;  /* 铺满全屏高度 */
    overflow: auto; /* 超出显示滚动条 */
    background-color: rgba(0,0,0,0.4); /* 黑色背景带半透明效果 */
  }
  
  /*--- Modal 内容---*/
  .modal-content {
    background-color: #fefefe; /* 背景颜色 白色 */
    margin: auto; /* 居中 */ 
    padding: 20px; /* 内部间距 */
    border: 1px solid #888; /* 灰色边框 */
    width: 30%; /* 可根据需要调整大小 */
    transition: all 0.5s; /* 这里设置了过渡效果，所有的改变都在0.5秒内完成 */
  }
  
  /*--- 点击关闭按钮---*/
  .close {
    color: #aaaaaa; /* 颜色 */
    float: right; /* 右侧浮动 */
    font-size: 28px; /* 字体大小 */
    font-weight: bold; /* 字体粗细 */
  }
  
  .close:hover,
  .close:focus {
    color: #000; /* 当鼠标悬停或者聚焦到关闭按钮时，颜色变为黑色 */
    text-decoration: none; /* 取消文字装饰，如下划线等 */
    cursor: pointer; /* 鼠标样式变为手形 */
  }